<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="icon" type="image/x-icon" href="./img/assets/cropped-favicon-32x32.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg==" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <main>
    <section class="login d-flex align-centern" style="background: url('./img/images/home-1-slider-image-3.jpg') center/cover no-repeat;">
      <div class="col-lg-5 m-auto " style="  max-width: 500px;">
        <div class="backgroundLogin card  border-0 rounded-lg mt-5">
          <div class="card-header">
            <h3 class="text-center font-weight-light my-4">Quên mật khẩu</h3>
          </div>
          <div class=" card-body">
            <div class="titlePassword small mb-3 text-muted">Nhập email của bạn để kích hoạt lại tài khoản</div>
            <form>
              <div class="form-group">
                <input class="form-control py-4" id="inputEmailAddress" type="text" aria-describedby="emailHelp" required />
                <label class="small mb-1" for="inputEmailAddress">Email</label>
              </div>
              <div class="act form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                <a class="small btn btn-submit" style="margin-top: 0;" href="">
                  <p>
                    Xác nhận
                  </p>
                </a>

              </div>
            </form>
          </div>
          <div class="card-footer text-center ">
            <div class="small">
              <a class="text-primary" style="color: #007bff !important" href="register.html">Chưa
                có tài khoản? Đăng ký</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>

<!-- SCRIPT -->
<!-- BootStrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha512-kBFfSXuTKZcABVouRYGnUo35KKa1FBrYgwG4PAx7Z2Heroknm0ca2Fm2TosdrrI356EDHMW383S3ISrwKcVPUw==" crossorigin="anonymous"></script>

</html>